<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.lizardsc.webintent"
    version="0.1.0">
    <name>WebIntent</name>
    <description>Web Intent Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,webintent</keywords>

    <js-module src="www/webintent.js" name="webIntnet">
        <clobbers target="webIntent" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebIntent" >
                <param name="android-package" value="com.lizardsc.webintent"/>
            </feature>
        </config-file>

        <source-file src="src/android/WebIntent.java" target-dir="src/com/lizardsc" />
    </platform>

</plugin>
